{minimum_otp_vsn, "28.0"}.

{erl_opts, [debug_info, warn_unused_vars, warn_shadow_vars,
            warn_unused_import, warn_obsolete_guard]}.

{deps, [
    {gun, "2.2.0"},
    {dns_erlang, "5.0.11"},
    {swim, {git, "https://github.com/ctbarbour/swim.git",
            {ref, "74b75fb323e7ac639613b46b10173c7adf97526d"}}},
    {riak_dt, {git, "https://github.com/OpenRiak/riak_dt.git",
               {branch, "openriak-3.4"}}}
]}.

{xref_warnings, true}.
{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{dialyzer, [{plt_extra_apps, [swim]}]}.

{relx, [
    {release, {registrator, "0.1.0"},
        [{swim, load}, inets, registrator, sasl]},
    {mode, dev},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},
    {extended_start_script, true}
]}.

{profiles, [
    {prod, [
        {relx, [{mode, prod},
                {include_erts, true},
                {include_src, false}]}
    ]},
    {shell, [{deps, [{recon, "2.5.6"}]}]},
    {test, [
        {erl_opts, [nowarn_export_all]},
        {deps, [{proper, "1.5.0"}]}
    ]}
]}.
