{deps, [
  {nkdocker, {git, "https://github.com/Nekso/nkdocker.git", {tag, "v0.118.2"}}},
  {dns_erlang, {git, "https://github.com/barbct5/dns_erlang.git", {branch, "feature/rebar3"}}},
  {swim, {git, "https://github.com/barbct5/swim.git", {branch, "feature/listen_ip"}}},
  {riak_dt, {git, "https://github.com/basho/riak_dt.git", {tag, "2.1.1"}}}
]}.

{relx, [
  {release,
    {registrator, "0.0.0"},
    [inets, jsx, registrator]},
  {dev_mode, true},
  {include_erts, false},
  {include_src, false},
  {extended_start_script, true},
  {sys_config, "./config/sys.config"}
]}.

{profiles, [
  {prod, [
    {relx, [
      {dev_mode, false},
      {include_erts, true}
    ]}
  ]}
]}.